<section id="main-header" class="bg-primary py-2 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          {{'Post'+' '+ postId}}
        </h1>
      </div>
    </div>

  </div>
</section>

<section class="bg-light">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-3">
        <a class="btn btn-primary btn-block" [routerLink]="['/blogen/dashboard']">
          <i class="fas fa-arrow-left"></i>
          Back to Dasboard
        </a>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
        <button class="btn btn-success btn-block">
          <i class="fas fa-check"></i>
          Save changes
        </button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-danger btn-block">
          <i class="fas fa-times-circle"></i>
          Delete Post
        </button>
      </div>
    </div>
  </div>
</section>


<section id="EditPost" class="p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Edit Post</h4>
          </div>
          <div class="card-body">
            <form accept-charset="UTF-8" novalidate>
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control">
                  <option value="">Web development</option>
                  <option value="">Tech Gadgest</option>
                  <option value="">Business</option>
                  <option value="">Healt & Wellness</option>
                </select>
              </div>
              <div class="form-group">
                <label for="title">Image upload</label>
                <input type="file" class="form-control-file">
                <small class="form-text text-muted">Max Size 3mb</small>
              </div>
              <div class="form-group">
                <label for="title">Body</label>
                <ckeditor [(ngModel)]="contentPostBody" #myckeditor="ngModel" name="myckeditor" required
                  [config]="ckeConfig" debounce="250" (change)="onChangePostCk($event)">
                </ckeditor>

              </div>
            </form>

          </div>


        </div>

      </div>
    </div>
  </div>
</section>
